html
	head
		meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,")
		link(href='/css/calendar_page.css', rel='stylesheet')
		script(type='text/javascript', src="/lib/jquery-1.4.2.min.js")
		script(type="text/javascript", src="/lib/jquery.touchSwipe.min.js")
		script(type='text/javascript', src='/lib/angular/angular.min.js')
		script(src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js")
		script(type='text/javascript', src='firebase.js')
		script(type='text/javascript', src='/calendar.js')
		script(type='text/javascript', src='/swipeBar.js')
		script(type='text/javascript', src='/logout.js')
		script(type='text/javascript').
			localStorage.setItem("Page","/calendar_page");
			var stage = localStorage.getItem("Page");
			console.log("You stay at "+stage);
			var user = localStorage.getItem("Username");
			var status = navigator.onLine;
			var userRef = firebase.database().ref("User");
			console.log(status);
			if(status == 'true') {
				userRef.orderByChild("UserName").equalTo(user).on('value', function(snapshot) {
					snapshot.forEach(function (childSnapshot) {
						userkey = childSnapshot.key;
						return true;
				    });
				    var statusRef = firebase.database().ref("User/"+userkey);
					statusRef.update({
						Status: "online"
					});
				});
			} else {
				userRef.orderByChild("UserName").equalTo(user).on('value', function(snapshot) {
					snapshot.forEach(function (childSnapshot) {
						userkey = childSnapshot.key;
						return true;
				    });
				    var statusRef = firebase.database().ref("User/"+userkey);
					statusRef.update({
						Status: "offline"
					});
				});
			}
	body		
	form(name='calendar', method='POST', action='/calendar_page')
	div(class='container')
		ul(class='tab')
			li 
				a(href="/main_page" onclick="") 
					img(id='imgTab' src="/img/house.png")
			li
				a(id='calendarTab' href="/calendar_page" onclick="") 
					img(id='imgTab' src="/img/calendarY.png")
			li
				a(href="/member_page" onclick="")
					img(id='imgTab' src="/img/people.png")
		h2 < Calendar >
		li(class='today')
			a Today
		li(class='addAct')
			a(href='/calendardetail_page') +
		div(class='calendar')
			script(type='text/javascript').
				calendar();
		div(id='sidebar')
			ul
				li(id='header')
					a(href='/profile_page') &nbsp;
						h1(id='Username')
						div(id='profileImg')
						//img(id='profile' src='/img/member.png')
				li
					a(href='/activity_page')
						h2 Activity
						img(id='actIcon' src='/img/activity.png')
				li
					a(href='/setting_page')
						h2 Setting
						img(id='setIcon' src='/img/setting.png')
				li
					a(href='/about_page')
						h2 About
						img(id='aboutIcon' src='/img/about.png')
				li
					a(href='/help_page')
						h2 Help
						img(id='helpIcon' src='/img/help.png')
				li(onclick='Logout()')
					a
						h2 Logout
						img(id='logoutIcon' src='/img/logout.png')
				li(id='footer' onclick='Exits()')
					a 
						h3 Exit
						img(id='exitIcon' src='/img/exit.png')
		div(class='swipe-area')