html
	head
		meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,")
		link(href='/css/group_page.css', rel='stylesheet')
		script(type='text/javascript', src="/lib/jquery-1.4.2.min.js")
		script(type="text/javascript", src="/lib/jquery.touchSwipe.min.js")
		script(type='text/javascript', src='/lib/angular/angular.min.js')
		script(src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js")
		script(type='text/javascript', src='firebase.js')
		script(type='text/javascript', src='/addGroup.js')
		script(type='text/javascript', src='/logout.js')
		script(type='text/javascript').
			var groupRef = firebase.database().ref("Group");
			var Groupname = localStorage.getItem("groupEntry");
			var User = localStorage.getItem("Username");
			console.log(Groupname);
			groupRef.orderByChild("GroupName").equalTo(Groupname).on('value', function(snapshot) {
				console.log(snapshot.val());
				console.log(snapshot.numChildren());
				var gkey;

				snapshot.forEach(function (childSnapshot) {
					groupRef.child(childSnapshot.key).once('value', function(keySnapshot) {
						gkey = keySnapshot.key;
						console.log(gkey);

						if(childSnapshot.val().Owner == User)
						{
							localStorage.setItem("groupkey",gkey)
							var groupkey = localStorage.getItem("groupkey");
							var gRef = firebase.database().ref("Group/"+groupkey);
							console.log("group key= "+ groupkey);

							gRef.on('value', function(DCTsnapshot){
								console.log(DCTsnapshot.val().Description);
								if(DCTsnapshot.val().Description != null) {
									document.getElementById("TBox").innerHTML = DCTsnapshot.val().Description;
								}
							});
						} else {
							console.log("not match user in this group")
						}
						return true;
					});
			    });
			});
			localStorage.setItem("Page","/group_page");
			var stage = localStorage.getItem("Page");
			console.log("You stay at "+stage);
			var user = localStorage.getItem("Username");
			var status = navigator.onLine;
			var userRef = firebase.database().ref("User");
			console.log(status);
			if(status == 'true') {
				userRef.orderByChild("UserName").equalTo(user).on('value', function(snapshot) {
					snapshot.forEach(function (childSnapshot) {
						userkey = childSnapshot.key;
						return true;
				    });
				    var statusRef = firebase.database().ref("User/"+userkey);
					statusRef.update({
						Status: "online"
					});
				});
			} else {
				userRef.orderByChild("UserName").equalTo(user).on('value', function(snapshot) {
					snapshot.forEach(function (childSnapshot) {
						userkey = childSnapshot.key;
						return true;
				    });
				    var statusRef = firebase.database().ref("User/"+userkey);
					statusRef.update({
						Status: "offline"
					});
				});
			}
		script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAaWrl60y9TaLrlteFd9ERgOCHSyq6uydA&sensor=false")
		script(type="text/javascript", src="/Cofunction.js")
	body
	form(name='workgroup', method='POST', action='/group_page')
	div(id='modalBG')
	div(class='container')
		div(id='addFriend' class='modal')
			div(class="modal-content")
				input(id='friName',type='text', placeholder=' friend name')
				div(id='addfriBTN', onclick='AddGroupFriend()')
		ul(class='groupHead')
			li
				a(href='/main_page')
					img(id='goback' src='/img/lessthan.png')
				h1 Group Name
		h2 Description
			input(id='editBTN' type='submit' value='Edit' onclick='editDCT()')
		div(contenteditable='false', id='TBox',onchange='CoFunction()',onkeydown='CoFunction()',onkeypress='CoFunction()',oninput='CoFunction()')
		h3 Member
		div(id='addBTN' onclick='gotoAddFriend()')
			img(id='plus' src='/img/plus.png')
		div
			img(id='mb1' src='/img/member.png')
			img(id='mb2' src='/img/member.png')
			img(id='mb3' src='/img/member.png')
			img(id='mb4' src='/img/member.png')
			img(id='mb5' src='/img/member.png')
		ul(class='tab')
			li 
				a(href="/list_page") 
					img(id='footerTab' src="/img/list.png")
			li
				a(href="/chat_page") 
					img(id='footerTab' src="/img/chat.png")
			li
				a(href="/note_page")
					img(id='footerTab' src="/img/note.png")
			li
				a(href="/folder_page") 
					img(id='footerTab' src="/img/folder.png")
		section(class="mdl-layout__tab-panel" id="maps")
			div(id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate")
			input(type="text" id="searchMap" placeholder="Search Map")
			div(class="mdl-content" id="map_canvas" style='height:70vh,width:80vw')
			div(id='BTN', onclick='AddLocationtoText()') 
				a ok
		section(id='TagPerson')
			div(id='psCoFileBlockOuter')
		section(id='TagFile')
			div(id='fCoFileBlockOuter')
		section(id='TagImage')
			div(id='iCoFileBlockOuter')
		section(id='ImageArea')
			img(id='showImg')
		section(id='TagNote')
			div(id='nCoFileBlockOuter')
		div(id='sidebar')
			ul
				li(id='header')
					a(href='/profile_page') &nbsp;
						h1(id='Username')
						div(id='profileImg')
						//img(id='profile' src='/img/member.png')
				li
					a(href='/activity_page')
						h2 Activity
						img(id='actIcon' src='/img/activity.png')
				li
					a(href='/setting_page')
						h2 Setting
						img(id='setIcon' src='/img/setting.png')
				li
					a(href='/about_page')
						h2 About
						img(id='aboutIcon' src='/img/about.png')
				li
					a(href='/help_page')
						h2 Help
						img(id='helpIcon' src='/img/help.png')
				li(onclick='Logout()')
					a
						h2 Logout
						img(id='logoutIcon' src='/img/logout.png')
				li(id='footer' onclick='Exits()')
					a 
						h3 Exit
						img(id='exitIcon' src='/img/exit.png')
		div(class='swipe-area')