html
	head
		meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0,maximum-scale=1, minimum-scale=1,")
		link(href='/css/side_navigation_page.css', rel='stylesheet')
		script(type='text/javascript', src='/lib/angular/angular.min.js')
		script(type='text/javascript', src="/lib/jquery-1.4.2.min.js")
		script(type="text/javascript", src="/lib/jquery.touchSwipe.min.js")
		script(src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js")
		script(type='text/javascript', src='firebase.js')
		script(type="text/javascript", src="/swipeBar.js")
	body		
	form(name='sideNav', method='POST', action='/side_navigation_page')
		div(class='container')
			div(id='sidebar')
				ul
					li(id='header')
						a(href='/profile_page') &nbsp;
							h1(id='Username')
							div(id='profileImg')
							//img(id='profile' src='/img/member.png')
					li
						a(href='/activity_page')
							h2 Activity
							img(id='actIcon' src='/img/activity.png')
					li
						a(href='/setting_page')
							h2 Setting
							img(id='setIcon' src='/img/setting.png')
					li
						a(href='/about_page')
							h2 About
							img(id='aboutIcon' src='/img/about.png')
					li
						a(href='/help_page')
							h2 Help
							img(id='helpIcon' src='/img/help.png')
					li
						a(href='/')
							h2 Logout
							img(id='logoutIcon' src='/img/logout.png')
					li(id='footer')
						a 
							h3 Exit
							img(id='exitIcon' src='/img/exit.png')
			div(class='main-content')
				div(class='swipe-area')